<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367125848541-utn2ks2ia0iocmsk88fgn9a38eh1ppi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367125848541-utn2ks2ia0iocmsk88fgn9a38eh1ppi2</string>
	<key>API_KEY</key>
	<string>AIzaSyCh3XecUWwpKervUvh6w3o5RYBebPQR2Oc</string>
	<key>GCM_SENDER_ID</key>
	<string>367125848541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nesvier.upcapp.upOrgs</string>
	<key>PROJECT_ID</key>
	<string>up-orgs</string>
	<key>STORAGE_BUCKET</key>
	<string>up-orgs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367125848541:ios:f79c8c9dac2e0baa5b5634</string>
</dict>
</plist>